{% include base_path %}

<link rel="icon" href="{{ base_path }}/images/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="{{ base_path }}/images/favicon.svg">
<link rel="manifest" href="{{ base_path }}/images/manifest.json">

{% if page.mathjax %}
  <script>
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        processEscapes: true,
        tags: 'all'
      },
      svg: { fontCache: 'global' }
    };
  </script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endif %}
